---
import ProjectCard from "./ProjectCard.astro";
---

<div class="project-grid">
    <div class="flex flex-col project-card-wrapper">
        <ProjectCard name="Sea Shell"
            description="A custom Lost at Sea themed Linux shell that contains several default Linux commands as well as a few custom commands"
            githubUrl="https://github.com/Parthiv-M/sea-shell" badgeList={["Python", "Linux" , "Scripting" ]} />
        <ProjectCard name="TCP Flag Filter"
            description="A simple command line application that lets a user obtain information about packets filtered according to any of the TCP header flags"
            githubUrl="https://github.com/Parthiv-M/tcp-flag-filter" badgeList={["Python", "Networking" , "Wireshark"
            ]} />
    </div>
    <div class="flex flex-col project-card-wrapper">
        <div class="project-card home flex flex-col">
            <div>
                <h3>PROJECTS</h3>
                <p>Here are a few of my projects, some done individually while others as part of a team</p>
            </div>
            <div class="flex to-github" style="align-items: center; gap: 5px; justify-content: space-between">
                <a href="https://github.com/Parthiv-M?tab=repositories" target="_blank" rel="noreferrer">
                    <span><img src="/assets/icons/connect/github.svg" style="margin-right: 5px;" height="15px"
                            width="15px" /></span>See more on GitHub
                </a>
                <img src="/assets/icons/arrow-right.svg" height="15px" width="12px" />
            </div>
        </div>
        <ProjectCard name="The Handouter"
            description="Created an automated newsletter distributor that doles out copies of a newsletter (with a new punch-line every time) to subscribers from a database"
            githubUrl="https://github.com/Parthiv-M/the-hand-outer" badgeList={["NodeJS", "Nodemailer" , "HBS"
            , "Automation" ]} />
    </div>
    <div class="flex flex-col project-card-wrapper">
        <ProjectCard name="wearemist.in"
            description="Built the fourth version of the website, as well as helped build and maintain several sister sites—including the events portal and the cybermanipal page, all of which are linked from the main website"
            githubUrl="https://github.com/Parthiv-M/mist-v4" badgeList={["NextJS", "Typescript" , "MongoDB"
            , "Framer Motion" , "Vercel" ]} />
        <ProjectCard name="ecellmit.com"
            description="Built and maintained two versions of the official website of the E-Cell, as well as built the portal for Manipal Entrepreneurship Summit 2022"
            githubUrl="https://github.com/Parthiv-M/ecellmit-v2" badgeList={["ReactJS", "NodeJS" , "MongoDB" , "AWS"
            ]} />
    </div>
</div>

<style>
    .project-grid {
        padding: 0 3rem;
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        gap: 15px;
    }

    .project-card-wrapper {
        min-height: 50vh;
        align-items: center;
        gap: 10px;
    }

    .project-card-wrapper:nth-child(2) {
        justify-content: flex-end;
        padding-top: 100px;
    }

    .project-card-wrapper:nth-child(3) {
        justify-content: center;
    }

    .project-card:hover:not(.home):hover {
        cursor: pointer;
        background-color: rgb(37, 37, 37, 0.5);
        border: 0.5px solid var(--secondary-dark);
    }

    .project-card {
        min-height: 40vh;
        width: 40vh;
        background-color: var(--tertiary-dark);
        border-radius: 10px;
        padding: 15px;
        border: 0.5px solid transparent;
        justify-content: space-between;
    }

    .project-card h3 {
        font-size: 2rem;
        font-family: 'Russo One', sans-serif;
        letter-spacing: 0.4rem;
    }

    .project-card div p {
        color: rgb(143, 143, 143);
        font-weight: bold;
    }

    .home {
        background-color: var(--primary-colour);
        justify-content: space-between;
    }

    .home div:first-child p {
        color: var(--primary-light);
        font-size: 1.1rem;
        margin-top: 10px;
    }

    .to-github a:hover {
        color: white;
    }

    @media only screen and (max-width: 1224px) {
        .project-grid {
            width: 95%;
            display: flex;
            padding: 0;
            margin: 0 auto;
        }

        .project-card h3 {
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
        }

        .project-card {
            width: 27vw;
        }

        .project-card-wrapper {
            display: flex;
        }
    }

    @media only screen and (max-width: 820px) {
        .project-grid {
            width: 95%;
            display: flex;
            flex-direction: column-reverse;
            padding: 0.5rem;
            gap: 10px;
        }

        .project-card {
            min-height: 35vh;
            width: 35vh;
        }

        .project-card h3 {
            font-size: 1.8rem;
        }

        .project-card-wrapper {
            justify-content: center;
        }

        .project-card-wrapper:nth-child(3) {
            justify-content: center;
        }

        .project-card-wrapper:nth-child(2) {
            padding-top: 0;
            order: 1;
        }
    }
</style>