---
import "@fontsource/open-sans"
import Layout from '../layouts/Layout.astro';
import Navbar from '@components/common/Navbar.astro';
import LandingTextArea from '@components/LandingTextArea.astro';
import SkillArea from "@components/skills/SkillArea";
import ProjectArea from "@components/projects/ProjectArea.astro";
import Footer from "@components/common/Footer.astro";
import ResearchArea from "@components/ResearchArea.astro";
import WorkArea from "@components/work/WorkArea.astro";
import ReachOutArea from "@components/ReachOutArea.astro";
import WorkExtraCard from "@components/WorkExtraCard.astro";
---

<Layout 
	title="Parthiv Menon" 
	description="A place to get to know me more" 
	extraKeywords="skills, whoami, projects, work, experience, research, internships, mitacs, wikimedia"
>
	<main>
		<Navbar />
		<div class="flex landing-container">
			<div class="image-wrapper flex">
				<img src="/assets/images/whoami-black-blob.png" class="whoami-blob" />
			</div>
			<div class="landing-text">
				<div class="about">
					<h4 style="margin-bottom: 0; font-size: 1.2rem;">I am Parthiv Menon.</h4>
					<h4 style="margin-top: 0">
						Passionate about anything that involves creativity,
						enthusiastic about working on any idea that can get me thinking, and love
						to play basketball
					</h4>
				</div>
				<LandingTextArea />
				<div class="flex">
					<div class="dot yellow"></div>
					<div class="dot violet"></div>
					<div class="dot pink"></div>
					<div class="dot blue"></div>
				</div>
			</div>
		</div>
		<div class="skills-container flex flex-col">
			<div class="skill-area-wrapper">
				<div class="about about-mobile">
					<h4 style="margin-bottom: 0; font-size: 1.2rem;">I am Parthiv Menon.</h4>
					<h4 style="margin-top: 0">
						Passionate about anything that involves creativity,
						enthusiastic about working on any idea that can get me thinking, and love
						to play basketball
					</h4>
				</div>
				<SkillArea client:visible />
			</div>
			<div class="skill-image-area">
				<img src="/assets/images/skills.png"/>
			</div>
		</div>
		<div class="projects-container" id="projects">
			<ProjectArea />
		</div>
		<div class="section" id="workxp">
			<div class="section-header">
				<h2>Work Experience</h2>
				<p>
					I have been contributing as a <em>fullstack developer</em> in multiple places, including 
					start-up environments and corporate organisations. Additionally, I have worked
					on multiple projects under the aegis of the Innovation Center, MAHE, during my college days.  
				</p>
			</div>
			<WorkArea />
			<div class="work-extra-grid">
				<WorkExtraCard 
					title={"Web Dev head"}
					team={"Manipal Information Security Team"}
					duration={"August 2021 - September 2022"}
					description={"I was the Web Development head at Manipal Information Security Team, the official cybersecurity team of our college. Being an active member of the team for three years, I was involved in participating and hosting CTFs, conducting workshops, and  spreading awareness about cybersecurity. As a team, we also organised the hugely successful Incognito22—a tech event that witnessed active international participation."}
					website={"wearemist.in"}
				/>
				<WorkExtraCard 
					title={"Head of Writing"}
					team={"The MIT Post"}
					duration={"October 2021 - September 2022"}
					description={"As Head of Writing of the official media body of the MIT Post, I was responsible for all the content that was published by the body, along with my other team members. We covered everything that happened in college, from minor events to entire college fests. Newsletters, magazines, articles and social media content—we did it all."}
					website={"themitpost.com"}
				/>
				<WorkExtraCard 
					title={"Core Committee Member"}
					team={"Linux Users' Group"}
					duration={"August 2021 - September 2022"}
					description={"As an avid user of open source technologies, I was happy to be part of this team of open source enthusiasts. We conducted install fests in college where our team helped students get familiarised with Linux and the rest of the open source ecosystem. We also helmed the LUG community—an open forum for anyone to pitch in about the tech world."}
					website={"lugm.xyz"}
				/>
			</div>
		</div>
		<div class="section flex flex-col" id="research">
			<div class="section-header">
				<h2>Research Experience</h2>
				<p>I have experience working as a research collaborator at the undergraduate
					level. Working in the areas of <em>NLP</em> and <em>Brain Computing Interface</em>, I have 
					gained knowledge of data manipulation and processing in Python, utilising ML techniques in 
					various applications, as well as gotten myself familiar with proper research workflows. 
				</p>
			</div>
			<div class="flex" style="gap: 10px; margin-top: 10px; margin-bottom: 20px">
				<a class="res-tags flex" href="https://orcid.org/0000-0002-9902-0014" target="_blank">
					ORCID<span><img src="/assets/icons/arrow-right.svg" height="15px" width="12px" /></span>
				</a>
				<a class="res-tags flex" href="https://scholar.google.com/citations?user=04re_2oAAAAJ&hl=en&oi=ao" target="_blank">
					Google Scholar<span><img src="/assets/icons/arrow-right.svg" height="15px" width="12px" /></span>
				</a>
			</div>
			<ResearchArea />
		</div>
		<div class="section flex flex-col">
			<ReachOutArea />
		</div>
	</main>
	<Footer />
</Layout>

<style>
	/* landing page styling */
	.landing-container {
		padding: 2rem;
		padding-top: 4rem;
		max-width: 100vw;
		height: calc(100vh - 60px);
		justify-content: center;
		align-items: center;
	}

	.image-wrapper {
		height: 100%;
		width: 50%;
		justify-content: center;
		align-items: center;
	}

	.landing-text {
		width: 50%;
		height: 80%;
		padding: 30px;
	}

	.whoami-blob {
		height: 500px;
		width: 500px;
	}

	.about {
		width: 70%;
		border-left: 5px solid rgb(43, 42, 42);
		padding-left: 25px;
	}

	.about h4:first-child {
		color: var(--primary-colour);
	}

	.about h4:nth-child(2) {
		color: var(--secondary-dark);
		font-style: italic;
	}

	.dot {
		height: 15px;
		width: 15px;
		margin-right: 10px;
		border-radius: 5px;
	}

	.yellow {
		background-color: #5cb904;
	}

	.violet {
		background-color: #6005c1;
	}

	.pink {
		background-color: #c50170;
	}

	.blue {
		background-color: var(--primary-colour);
	}

	.about-mobile {
		display: none;
	}

	/* skills styling */
	.skills-container {
		min-height: 100vh;
		justify-content: center;
		align-items: center;
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.skill-area-wrapper {
		padding: 5rem;
	}

	.skill-image-area img {
		height: 100%;
		width: 100%;
	}

	/* projects styling */
	.projects-container {
		min-height: 100vh;
		padding: 2rem 0;
	}

	/* extra work styling */
	.work-extra-grid {
		display: grid;
		grid-template-columns: 33.33% 33.33% 33.33%;
		gap: 15px;
		margin-top: 15px;
	}

	/* research styling */

	.res-tags {
        background-color: var(--tertiary-dark);
		border: 0.5px solid var(--secondary-dark);
		opacity: 75%;
        padding: 7px 10px;
        border-radius: 1.5rem;
        align-items: center;
        gap: 7px;
    }

	.res-tags:hover {
		opacity: 100%;
	}

	@media only screen and (max-width: 1224px) {
        .whoami-blob {
			height: 400px;
			width: 400px;
		}
		.skill-area-wrapper {
			padding: 2.5rem;
		}
    }

	@media only screen and (max-width: 820px) {

		/* landing page mobile styling */
		.landing-container {
			flex-direction: column;
			padding-top: 2rem;
		}

		.whoami-blob {
			height: 300px;
			width: 300px;
		}

		.image-wrapper,
		.landing-text {
			width: 90%;
		}

		.image-wrapper {
			height: 50%;
			align-items: start;
		}

		.about {
			display: none;
		}

		.dot {
			display: none;
		}

		.landing-text {
			rotate: 90deg;
			width: fit-content;
			height: fit-content;
		}

		.about-mobile {
			display: block;
			width: 80%;
			margin: 50px auto;
		}

		.skills-container {
			display: flex;
			flex-direction: column;
		}

		.skill-image-area {
			display: none;
		}

		.skill-area-wrapper {
			padding: 1rem;
		}

		.work-extra-grid {
			grid-template-columns: 100%;
		}
	}
</style>